@font-face {
    font-family: 'Sofia Pro Regular';
    src: url('assets/fonts/Sofia\ Pro\ Regular\ Az.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro semi-bold';
    src: url('assets/fonts/Sofia\ Pro\ Semi\ Bold\ Az.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Alkia';
    src: url('assets/fonts/Alkia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Requiner';
    src: url('assets/fonts/Requiner-6RRLM.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quadran';
    src: url('assets/fonts/Quadran-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #ede0d4;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: #282828;
    padding: 0px 35px;
    box-sizing: border-box;
}

.navbar {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 55px; /* Adjust the logo height as needed */
    padding-left: 30px;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
}

.nav-menu li a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-family: 'Sofia Pro Regular';
    font-size: 25px;
    padding: 10px 15px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 5px; /* Rounded corners for the buttons */
}

.nav-menu li a:hover {
    background-color: #757575; /* Change background on hover */
    border-radius: 5px; /* Rounded corners for the buttons */
    transform: scale(1.1);
}

main {
    margin-top: 70px;
}

.title {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #E6CCB2;
    color: #282828;
    overflow: hidden;
    font-family: 'Requiner';
    font-size: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.title h1 {
    position: absolute;
    width: 800px;
    transition: transform 0.8s ease;
    z-index: 2;
}

.title:hover h1{
    transform: translate(25vw) scale(0.8);
}

/* Box styling */
.box {
    position: absolute;
    transform: translate(-50%, -50%);
    margin: 0px; /* Space between boxes */
    /*border: 1px solid #000; /* Border to visualize the box */
}

.box1 {
    width: 1000px;
    height: 8000px;
    transition: transform 1s ease;
    background-color: #ddb892;
    transform: translate(calc(25vw - 600px), -800px) rotate(90deg);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); /* Optional shadow */

    z-index: -4;
}

.box2 {
    width: 1000px;
    height:8000px;
    transition: transform 1s ease;
    background-color: #b08968;
    transform: translate(calc(25vw - 700px), 800px) rotate(-90deg);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.47); /* Optional shadow */

    z-index: -3;
}

.box3 {
    width: 1000px;
    height: 8000px;
    transition: transform 1s ease;
    background-color: #7F5539;
    transform: translate(calc(25vw - 700px), 800px) rotate(-90deg);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); /* Optional shadow */

    z-index: -2;
}

.box4 {
    width: 1500px;
    height: 8000px;
    transition: transform 1s ease;
    background-color: #9C6644;
    transform: translate(calc(25vw - 700px), 1200px) rotate(-90deg);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);

    z-index: -1;
}


.title:hover .box1 {
        transform: translate(calc(20vw - 600px), -500px) rotate(59deg);
    z-index: -4;
}

.title:hover .box2 {
    transform: translate(calc(20vw - 700px), 600px) rotate(-32deg);
    z-index: -3;
}
.title:hover .box3 {
    transform: translate(calc(20vw - 700px), 600px) rotate(-39deg);

    z-index: -2;
}

.title:hover .box4 {
    transform: translate(calc(20vw - 700px), 920px) rotate(-58deg);

    z-index: -1;
}

.medias {
    margin-left: 2%;
    margin-top: 100px;
    display: flex;
    justify-content: left;
    align-content: center;
    font-family: 'Quadran';
    font-size: 29px;
}

.illu {
    width: 100%;
    border-radius: 20px;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.card-gfx {
    display: flex;
    justify-content: left;
    gap: 4%;
    margin-top: 25px;
    width: 100%;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.card {
    width: 20%;
}

.blured {
    position: absolute;
    transform: translateX(-100%);
    opacity: 1;
}

.clear {
    opacity: 1;
}

.image-container:hover .clear {

    transform: scale(1.05);
}

.image-container:hover .blured {
    opacity: 0;
}

.image-container h2{
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 2;
    font-family: 'Requiner';
    font-size: 1.4vw;
    transition: transform 0.3s ease;
}

.models .image-container:hover h2 {
    transform: translate(-110%, -220%);
}

.logos .image-container:hover h2 {
    transform: translate(-180%, -220%);
}

.animation .image-container:hover h2 {
    transform: translate(5%, 100%);
}

.renders .image-container:hover h2 {
    transform: translate(-130%, -220%);
}